<div class="header">
    <h1><span class="header-text"> Data Center </span></h1>
</div>

<% if flash[:notice] %>     
    <div class="alert alert-success">
		<%= flash[:notice] %>
	</div>
<% elsif flash[:alert] %>
	<div class="alert alert-warning">
		<%= flash[:alert] %>
	</div>	
<% end %>


<ul class="nav nav-tabs">
	<li class=<%=active(root_path)%>>
		<%= link_to "Home", root_path %>
	</li>
	<li class=<%= active_article("articles") %>>
		<%= link_to "Articles", articles_path %>
	</li>
	<li class=<%=active(search_path)%>>
		<%= link_to "Search", search_path %>
	</li>
	<li class="welcome_msg">
		<% if current_user %>
			Welcome <%= current_user.full_name %>
		<% end %>			
	</li>
	<li class="dropdown pull-right">
		 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			<% if current_user %>
				<li>
					<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>	
				</li>
			<% else %>
				<li>
					<%= link_to "Sign Up", new_user_registration_path %>	
				</li>
				<li>
					<%= link_to "Sign In", new_user_session_path %>	
				</li>
				<li>
					<%= link_to "Chage Password", new_user_password_path %>	
				</li>					
			<% end %>			
		</ul>
	</li>
</ul>