<!DOCTYPE html>
<html>
  <head>
    <title>Data Center</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "shared/header" %>
          <div class="main">
            <%= yield %>
          </div>          
        </div>
        <%= render partial: "shared/footer" %>
      </div>
    </div>
  </body>
</html>
